$MainColor:#5D6588;

// default colors
$textMain:#5D6588;
$textPrimary:#7D8396;
$header:white;

//rightPanel
$RightPanelBg:rgba(30, 31, 37, 0.8);
$RightPanelBgMobile:rgba(30, 31, 37, 1);

//navbar variables
$NavBg:rgba(20, 21, 24, 0.8);
$ActiveNavColor:white;
$NavColor:#5D6588;
$NavHoverColor:white;
$NavSmallSliderBg:rgba(20, 21, 24, 1);
$NavSmallSliderCloseBtnColor:white;

//input variable
$InputBg:rgba(47, 50, 65, 0.5);
$InputColor:#5D6588;

//dropDownList 
$DropListBg:rgba(30, 31, 37, 0.8);
$DropListColor:white;

// Card variable

$CardBg:rgba(30, 31, 37, 0.8);
$CardBg1:rgba(33, 35, 41, 1);
$CardFilter:blur(3.82692px);
$CardMainColor:#A5ADCF;
$CardPrimaryColor:#5D6588;
$CardMask:linear-gradient(#fff 0 0) padding-box,
linear-gradient(#fff 0 0);
$CardBorderColor1:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D43259 100%) border-box;
$CardBorderColor2:linear-gradient(180deg, #01F4C8 0%, rgba(0, 0, 0, 0) 100%) border-box;

